/* body { */
/* overflow-x: hidden; */
/* } */

.navbar {
    background: #fff;
    padding-top: 10px;
    padding-bottom: 0;
    box-shadow: 1px 3px 4px 0 #e9edff8a;
}

.navbar-light .navbar-brand {
    color: #2196f3;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #1ebdc2;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    padding-top: 15px;
    padding-bottom: 10px;
    transition: 0.3s;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    /*background: #1ebdc2;*/
    transition: 0.3s;
    /* border-radius: 3px; */
    color: #1ebdc2;
    /*padding: 10px 10px;*/
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #1ebdc2 !important;
}

.sm-menu {
    border-radius: 0px;
    border: 0px;
    top: 97%;
    box-shadow: rgba(173, 173, 173, 0.2) 1px 3px 4px 0px;
}

.dropdown-item {
    color: #3c3c3c;
    font-size: 13px;
    font-weight: normal;
    padding-left: 5px;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #2196f3;
}

.navbar-toggler {
    outline: none !important;
}

.navbar-tog {
    color: #1ebdc2;
}

.navbar-toggler {
    outline: none !important;
}

/* .navbar {
            background: #fff;
            padding-top: 10px;
            padding-bottom: 10px;
            box-shadow: box-shadow: 1px 3px 4px 0 #e9edff8a;
            border-bottom-color: red;
        } */

.dropdown-item:focus,
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #1ebdc2 !important;
    border-radius: 3px;
    /* white-space: pre-wrap; */
}

.megamenu-li {
    position: static;
}

.megamenu {
    position: absolute;
    width: 100%;
    padding: 15px;
}

.megamenu h6 {
    margin-left: 21px;
}

.megamenu i {
    width: 20px;
}

.sm-menu {
    border-radius: 4px;
    border: 0px;
    top: 97%;
    box-shadow: rgba(173, 173, 173, 0.2) 1px 3px 4px 0px;
}

.sm_h6 h6 {
    color: dodgerblue;
}

.button_01 {
    padding: 5px 5px;
    height: 35px;
    background-color: blue;
    color: white;
}

.btn .button_01:hover {
    /* padding: 5px 5px;
            height: 35px; */
    background-color: #4cff00;
    /* color: #; */
}

.btn .button_01 {
    transition-duration: 0.4s;
}

.input {
    padding: 5px 5px;
    height: 30px;
    color: black;
    margin-top: 1px;
    box-sizing: border-box;
}

.col-1-5 {
    flex: 0 0 20%;
    max-width: 20%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 600px) {
    .col-1-5 {
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

#tb {
    min-width: 1100px;
    align-items: flex-end;
}

img {
    max-width: 100% !important;
}

/* CSS used here will be applied after bootstrap.css */
.ekko-lightbox-nav-overlay a {
    color: goldenrod;
}

.gallery-title {
    text-align: center;
    font-weight: 500;
    border-bottom: 1px dotted orange;
    margin-top: 1em;
}

.about-section .image-style-side {
    float: left;
    margin-right: 50px;
    max-width: 50%;
    padding: 8px 0px;
}

.about-section h1,
.about-section h2,
.about-section h3,
.about-section h4,
.about-section h5,
.about-section h6,
.about-section img:not(:nth-child(1n)) {
    display: none;
}

.image-style-side {
    float: left;
    margin-right: 50px;
    max-width: 50%;
    padding: 8px 0px;
}

/* Team */

/* #news-slider{
    margin-top: 80px;
}
.post-slide{
    background: #fff;
    margin: 20px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
}
.post-slide .post-img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: -12px 15px 8px 15px;
    margin-left: -10px;
}
.post-slide .post-img img{
    width: 100%;
    height: auto;
    transform: scale(1,1);
    transition:transform 0.2s linear;
}
.post-slide:hover .post-img img{
    transform: scale(1.1,1.1);
}
.post-slide .over-layer{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    background: linear-gradient(-45deg, rgba(6,190,244,0.75) 0%, rgba(45,112,253,0.6) 100%);
    transition:all 0.50s linear;
}
.post-slide:hover .over-layer{
    opacity:1;
    text-decoration:none;
}
.post-slide .over-layer i{
    position: relative;
    top:45%;
    text-align:center;
    display: block;
    color:#fff;
    font-size:25px;
}
.post-slide .post-content{
    background:#fff;
    padding: 2px 20px 40px;
    border-radius: 15px;
}
.post-slide .post-title a{
    font-size:15px;
    font-weight:bold;
    color:#333;
    display: inline-block;
    text-transform:uppercase;
    transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover{
    text-decoration: none;
    color:#3498db;
}
.post-slide .post-description{
    line-height:24px;
    color:#808080;
    margin-bottom:25px;
}
.post-slide .post-date{
    color:#a9a9a9;
    font-size: 14px;
}
.post-slide .post-date i{
    font-size:20px;
    margin-right:8px;
    color: #CFDACE;
}
.post-slide .read-more{
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
}
.post-slide .read-more:hover{
    background: #3498db;
    text-decoration:none;
    color:#fff;
}
.owl-controls .owl-buttons{
    text-align:center;
    margin-top:20px;
}
.owl-controls .owl-buttons .owl-prev{
    background: #fff;
    position: absolute;
    top:-13%;
    left:15px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-next{
    background: #fff;
    position: absolute;
    top:-13%;
    right: 15px;
    padding: 0 15px 0 18px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after{
    content:"\f104";
    font-family: FontAwesome;
    color: #333;
    font-size:30px;
}
.owl-controls .owl-buttons .owl-next:after{
    content:"\f105";
}
@media only screen and (max-width:1280px) {
    .post-slide .post-content{
        padding: 0px 15px 25px 15px;
    }
} */

.my .owl-prev,
.my .owl-next {
    top: 40%;
    z-index: 2;
    width: 40px;
    height: 40px;
    padding: 8px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
}

.my .owl-prev {
    left: -10px;
}

.my .owl-next {
    right: 0px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: white;
}
